PRIVATE_KEY=0x_YOUR_PRIVATE_KEY
CELO_RPC=https://forno.celo.org
GROQ_API_KEY=gsk_YOUR_GROQ_KEY
CONTRACT_ADDRESS=0x4ebef67f7a20485ccc9e66ee58fcc99f23e93de1
THIRDWEB_SECRET_KEY=your_thirdweb_secret_key
TOKEN_FACTORY_ADDRESS=0x597f121c014b99a15c7c4e08928f0fe1ec3adc2e